*.html linguist-generated=true linguist-detectable=false
*.ipynb linguist-generated=true linguist-detectable=false

outputs/** linguist-generated=true linguist-detectable=false
qa/** linguist-generated=true linguist-detectable=false

assets/readme/** linguist-generated=true linguist-detectable=false
assets/social/** linguist-generated=true linguist-detectable=false
release-assets/** linguist-generated=true linguist-detectable=false

*.xlsx linguist-generated=true linguist-detectable=false
*.gz linguist-generated=true linguist-detectable=false

*.py linguist-detectable=true
